.TrayIndicator--on-view {
	-natural-hpadding: 0;
	-minimum-hpadding: 0;
}

.TrayIndicator--overflow  {
	color: inherit;	/* workaround: force repaint paddings */
}

.TrayIndicatorPopup StButton {
	padding: 8px;
	border-radius: 6px;
	transition-property: background-color;
	transition-duration: .1s;
	transition-timing-function: linear;
}

.TrayIndicatorPopup StButton:hover {
	background-color: rgba(255, 255, 255, .1);
}